namespace CruiseProcessing
{
    public static partial class Secrets
    {
        static Secrets()
        {
            CRUISEPROCESSING_APPCENTER_KEY_WINDOWS = "$(cruiseprocessing_appcenterr_key_windows)";
        }
    }
}